.custom-tooltipBarchart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 39px;
  height: 63px;
  background: #E60000;

  .label {
    font-size: 7px;
    color: white;
  }
}
