@import "../../assets/styles/abstracts/variables";

.radial {
  position: relative;
  width: 100%;

  .radialchart_title {
    position: absolute;
    z-index: 1;
    margin: 24px 0 0 30px;
    font-size: 15px;
    line-height: 24px;
    @media screen and (max-width: 1024px) {
      margin: 5px 0 0 5px;
    }
  }

  .radialchart {
    background: $dark-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;

    .custom {
      display: flex;
      flex-direction: column;
      align-items: center;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-top: 0;
        background-color: white;
        width: 150px;
        height: 150px;
        border-radius: 100%;

        @media screen and (max-width: 1024px) {
          width: 100px;
          height: 100px;
        }

        .value {
          background-color: white;
          font-weight: 700;
          font-size: 26px;
          line-height: 26px;
          margin: 5px 0 0 0;
          color: $much-lighter-black;
        }

        .label {
          width: 95px;
          font-size: 16px;
          text-align: center;
          color: $grey;
          margin: 5px 0;
        }
      }
    }
  }
}



