.barchart {
  background-color: #FBFBFB;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  padding: 23px 10px 20px 35px;

  .barchart_title {
    position: absolute;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
  }

  .custom-tooltipBarchart {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 39px;
    height: 63px;
    background: #E60000;

    .label {
      font-size: 7px;
      color: white;
    }
  }
}

